<template>
  <div style="margin-bottom: 75px">
    <div style="text-align:center">
      <h1>Nilai Anda : {{ nilai }}</h1>
      <h2 v-if="nilai > 3" style="color:green">Selamat Anda Lulus</h2>
      <h2 v-if="nilai >0  && nilai < 4 " style="color:red">Semangat {{ 4 - nilai }} lagi</h2>
    </div>
    <div v-for="(soal, indexsoal) in questions" v-bind:key="soal" style="margin-left: 50px;">
      <h2>{{indexsoal+1}}. {{soal.deskripsi}} </h2>
      <div v-for="(pilihans, indexpiilhan) in soal.pilihan" v-bind:key="pilihans">
        <input type="radio" @click="checkAnswer(indexsoal, indexpiilhan)" :value="pilihans[0]" :name="indexsoal">
        <span v-text="pilihans[0]"></span>
      </div>
    </div>
  </div>
</template>

<script>
  import SoalComponent from '@/components/HelloWorld'
  export default {
    name: 'Controlleroriginal',
    components: {
      SoalComponent
    },
    data() {
      return {
        nilai: 0,
        benar: [],
        salah: [],
        questions: [{
            deskripsi: "Indonesia merupakan negara ...",
            pilihan: [
              ["Kita semua"],
              ["Jajahan"],
              ["Berkembang", true],
              ["Maju"]
            ]
          },
          {
            deskripsi: "Mengapa belanda menjajah Indonesia?",
            pilihan: [
              ["Untuk sampai kesebrang jalan"],
              ["Iseng"],
              ["Jalan jalan"],
              ["Mencari rempah-rempah", true]
            ]
          },
          {
            deskripsi: "Ada udang ...",
            pilihan: [
              ["Ada barang"],
              ["Di laut"],
              ["Dibalik batu", true],
              ["Makan rumput"]
            ]
          },
          {
            deskripsi: "17 Agustus merupakan ... Indonesia",
            pilihan: [
              ["Sebuah tanggal di"],
              ["Hari kemerdekaan", true],
              ["Hari senin"],
              ["Tanggal merah"]
            ]
          },
          {
            deskripsi: "Siapa penemu lampu",
            pilihan: [
              ["Bang Wawan"],
              ["Kaka Thomas", true],
              ["Mas Bambang"],
              ["Dia"]
            ]
          }
        ]
      }
    },
    methods: {
      checkAnswer(indexsoal, indexpiilhan) {
        if (this.questions[indexsoal].pilihan[indexpiilhan][1]) {
          if (this.benar.indexOf(indexsoal) == -1) {
            this.benar.push(indexsoal)
          }
          if (this.salah.indexOf(indexsoal) !== -1) {
            this.salah.splice(this.salah.indexOf(indexsoal), 1)
          }
        } else {
          if (this.benar.indexOf(indexsoal) !== -1) {
            this.benar.splice(this.benar.indexOf(indexsoal), 1)
            this.salah.push(indexsoal)
          } else if (this.salah.indexOf(indexsoal) !== -1) {  
          } else {
            this.salah.push(indexsoal)
          }
        }
        this.nilai = this.benar.length
      }
    }
  }
</script>
<style scoped>
</style>
